body{
   background-color: rgb(136, 176, 255);
   display: flex;
   flex-direction: column;
   flex:1 0 auto;
}

h1{
    color: white;
    font-family:'Courier New', Courier, monospace;
    background-color:cornflowerblue;
    text-align: center;
    font-size: 75px;
    padding: 50px;
}

p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color:aliceblue;
}

#gamename{
    text-align: left;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    color: aliceblue;
    text-decoration: none;
}

footer{
    padding: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color:cornflowerblue;
    color: aliceblue;
    margin: 10px;
}

button{
    color:cornflowerblue;
    font-size: 30px;
    text-align: center;
}

main{
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    color:aliceblue;
    text-align: center;
}
